div
 include ../Header/header.pug
div
    form#loginForm
        p
            b Username
            br
            input(name="username", type="text")
        p
            b Password
            br
            input(name="password", type="password")
        input(name="submit", type="submit")