div
 include ../Header/header.pug
div
    form#loginForm
        p
            b Username
            div
                input(name="username", type="text")
        p
            b Password
            div
                input(name="password", type="password")
        input(name="submit", type="submit")