div
    include ../Header/header.pug

div
    table 
        thead
            tr
                th Username
                th Score
        tbody
            each user in usrs
                tr
                    td= user.username
                    td= user.score
