.game-menu__label{
    color: orange;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

.game-menu__label{
    color: orange;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}