div
    include ../Header/header.pug
div
    div
        h3= 'Username: ' + user.username
    div
        h3= 'Email: ' + user.email
    div
        h3= 'Очки: ' + user.score
    
    p
        a(href='change') Изменить данные
    p
        a(href='menu') Выйти