extends ../base.pug

block game-content
    div(id="firstLayer")
        canvas(id="canvas1")
    div(id="SecondLayer")
        canvas(id="canvas2")
    
    div(id="dropdown-game-info" class="dropdown__overlay")
        p(class="dropdown__closebtn" onclick="closeDropdown('dropdown-game-info')") &times;
        div(class="dropdown__overlay-content")
            for val in helpValues
                a(class="dropdown__content")= val.label
                a(class="dropdown__content-highlight")= val.data
