//- extends base.pug

html
    head
        title Bomber
    
    body

        div(class="grid-container")

            div(class="header")
                a(class="header__title" href="/" data-href="/") 💣БОМБИЧ💥


            div(class="left")
            
            div(class="main")
                div(id="firstLayer")
                    canvas(id="canvas1" width='900', height='900')
                div(id="SecondLayer")
                    canvas(id="canvas2" width='900', height='900')
            
            div(class="right")





//- block content
//-     canvas(id="canvas" width='1000 ', height='1000')