extends ../base.pug

block content
    div(id='privet')
        each player in players
            div
                p= player
        button(id="start-game") Начать игру
        button(id="stop-game") Остановить игру