html
    head
        title Bomber
    
    body

        div(class="grid-container")

            div(class="header")
                include header.pug 

            div(class="left")
            
            div(class="main")
                block content
            div(class="right")
        
        div(id="dropdown" class="dropdown__overlay")
            p(class="dropdown__closebtn" onclick="closeDropdown()") &times;
            div(class="dropdown__overlay-content")
                for val in headerValues
                    a(href=val.href data-href=val.href class="dropdown__content")= val.label
