html
    head
        title Bomber
    
    body

        div(class="grid-container")

            div(class="header")
                include header.pug 

            div(class="left")
            
            div(class="main")
                block content

            div(class="right")
    
