html
    head
        title Bomber
    
    body

        div(class="grid-container")

            div(class="header")
                include header.pug 
            
            div(class="game-field")
                block game-content

            div(class="left")
            
            div(class="main")
                a(class="header__title" href="/" data-href="/") 
                    h2 💣БОМБИЧ💥
                    //- убери этот костыль
                block content
                
            div(class="right")
        
        div(id="dropdown" class="dropdown__overlay")
            p(class="dropdown__closebtn" onclick="closeDropdown('dropdown')") &times;
            div(class="dropdown__overlay-content")
                for val in headerValues
                    a(href=val.href data-href=val.href class="dropdown__content" id=val.id)= val.label
        

