//- div(id="mydiv")
//-     form
//-         input(class="open-button" name="submit" type="submit" id="popupbtn")

div(id="for-frame")
    form
        input(class="open-button" name="submit" type="submit" id="popupbtn")
    //- div(class="chat-popup" id="myForm")
    //-     div(class="form-container")
    //-         div(id="chat-iframe")
                
    //-         button(type="button" class="btn cancel" onclick="closeForm()") Close
