.block#header
    a(class="header__title" href="/" data-href="/") 💣БОМБИЧ💥
    div(class="header__dropdown")
        p(class="dropdown__toggler" id="kek" onclick="openNav()") Меню
        div(id="myNav" class="dropdown__overlay")
            p(class="dropdown__closebtn" onclick="closeNav()") &times;
            div(class="dropdown__overlay-content")
                for val in headerValues
                    a(href=val.href data-href=val.href)= val.label
